<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clh.mapper.MeetMapper">
    <select id="list" resultType="map">
        SELECT *  FROM t_meeting m , t_meeting_type t WHERE m.`type` = t.`tid` ORDER BY m.`start_time` DESC
    </select>
    <select id="listType" resultType="map">
        SELECT * FROM  t_meeting_type
    </select>
    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        insert into t_meeting values
        (null, #{code},#{name},#{start_time},#{end_time},#{create_time},#{type})
    </insert>
    <select id="listOne" resultType="map">
        select * from t_meeting where id = #{id}
    </select>
    <update id="xiu">
        update t_meeting set code =  #{code}, name =#{name},start_time = #{start_time},end_time = #{end_time},create_time = #{create_time},type = #{type}
        where id = #{id}
    </update>

</mapper>
